@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1f2937;

}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size:18px;
    color: #e5e7eb
}

ul{
    display: flex;
    flex-direction: row;
    margin: 10px
}

.navbar{
    display:flex;
}

.navbar-left,.navbar-right{
    display: flex;
    width: 50%; 
    justify-content: center;
    align-items:center;
}

h1 {
    font-size:48px;
    font-weight:bold;
    color: #f9faf8;
}
.content{
    display:flex;
    flex-direction:row;
    margin:50px;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width: 50%;
    margin-right: 50px
}

.content-left{
    display:flex;
    flex-direction:column;
    width: 50%;
    margin-left:200px;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 50px
}

img{
    margin:50px;
    width: 600px;
}

button{
    width:auto;
}

.sign-up-first-section{
    background-color: #3883f6;
    color:white;
    width: 200px;
    border-radius: 10px;
    border: 1px #3883f6;
}