@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1f2937;

}

#header-logo{
    font-size: 24px;
    color: #f9faf8

}

.header-link{
    font-size:18px;
    color: #e5e7eb
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-right,.navbar-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size:48px;
    font-weight:bold;
    color: #f9faf8;
}
.content{
    display:flex;
    flex-direction:row;
}
.content-left,.content-right{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}