@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1f2937;

}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size:22px;
    color: #e5e7eb
}

ul{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar-left{
    grid-column: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-right{
    grid-column: 0;
    display: flex; 
    align-items: center; 
} 
 
h1 { 
    font-size:48px; 
    font-weight:bold; 
    color: #f9faf8; 
} 

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.content-right{
    display: flex;
    align-items:center;
}

.content-left{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: auto;
}

img{
    margin:50px;
    width: 600px;
}

button{
    width:auto;
}

.sign-up-first-section{
    background-color: #3883f6;
    color:white;
    width: 200px;
    border-radius: 10px;
    border: 1px #3883f6;
    font-size: 1rem;
    padding: 5px;
}

h2{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
    text-align:center;
}

.row-of-blue-divs{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    max-width: 100%;
    margin:100px;
    flex-wrap: wrap;
}

.box-blue{
    border:3px solid #3883f6;
    width:200px;
    height:200px;
    border-radius:15px;
    margin: 15px;
}

.second-section{
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding: 30px;
}

.p-second{
    text-align:center;
    font-size:18px
}

.third-section{
    background-color:#e5e7eb;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.inspirational-cuote{
    font-size:36px;
    font-style: italic;
    font-weight:lighter;
    color: #1f3927;
    text-align:center;
}

.p-third{
    font-size: 20px;
}

.p-third-div{
    display:flex;
    justify-content:flex-start;
    margin-left:70%;
}

.fourth-section{
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.blue-container{
    background-color: #3882f6;
    width:75%;
    display:flex;
    flex-direction:row;
    border-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left{
    width:70%;
    margin-left:50px;
    display:flex;
    Justify-content:center;
    flex-direction:column;
}

h4{
    font-size: 24px;
    color:white;
}

.p-fourth{
    color: white;
    font-size:18px;
}

.right{
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn-last-div{
    background-color: #3883f6;
    color:white;
    width: 200px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid white;
}

.footer{
    display:flex;
    justify-content:center;
    background-color: #1f2937;
    color:white;
    height: 20px;
}

.btn-last-div:hover{
    background-color: #4082f9;
}


@media(max-width: 1200px){
   .content{
        display: flex;
        flex-direction: column;
   }

   .content-right{
        justify-content: center;
   }

   .content-left{
        text-align: center;
        margin: 20px;
        margin-top: 50px;
        margin-bottom: 20px;
   }

   .sign-up-first-section{
        margin: auto;
   }
}

@media(max-width: 620px){
    img{
        width: 80%;
    }

    .blue-container{
        flex-direction: column;
    }

    .btn-last-div{
        margin-top: 20px;
    }

    .p-fourth{
        text-align: center;
    }

    .title-p-fourth{
        text-align: center;
    }
}

@media(max-width: 400px){
    .inspirational-cuote{
        font-size: 1.4rem;
    }

    .p-third{
        font-size: 1rem;
    }
}
