@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-section{
    background-color: #1f2937;

}

#header-logo{
    font-size: 24px;
    color: #f9faf8;
}

.header-link{
    font-size:18px;
    color: #e5e7eb
}

ul{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navbar-left{
    grid-column: 0;
}

.navbar-right{
    grid-column: 0;
}

h1 {
    font-size:48px;
    font-weight:bold;
    color: #f9faf8;
}
.content{
    display:flex;
    flex-direction:row;
    margin:50px;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width: 50%;
    margin-right: 50px
}

.content-left{
    display:flex;
    flex-direction:column;
    width: 50%;
    margin-left:200px;
    margin-top: 100px;
    justify-content: center;
    margin-bottom: 50px
}

img{
    margin:50px;
    width: 600px;
}

button{
    width:auto;
}

.sign-up-first-section{
    background-color: #3883f6;
    color:white;
    width: 200px;
    border-radius: 10px;
    border: 1px #3883f6;
}

h2{
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
    text-align:center;
}
.row-of-blue-divs{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    max-width: 100%;
    margin:100px;
}

.box-blue{
    border:3px solid #3883f6;
    width:200px;
    height:200px;
    border-radius:15px;
}

.second-section{
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.p-second{
    text-align:center;
    font-size:18px
}

.third-section{
    background-color:#e5e7eb;
    height:500px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
h3{
    font-size:36px;
    font-style: italic;
    font-weight:lighter;
    color: #1f3927;
    text-align:center;
}

.p-third{
    font-size: 20px;
}

.p-third-div{
    display:flex;
    justify-content:flex-end;
    margin-right:300px;
}

.fourth-section{
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.blue-container{
    background-color: #3882f6;
    width:75%;
    height:40%;
    display:flex;
    flex-direction:row;
}
.left{
    width:70%;
    margin-left:50px;
    display:flex;
    Justify-content:center;
    flex-direction:column;
}

h4{
    font-size: 24px;
    color:white;
}

.p-fourth{
    color: white;
    font-size:18px;
}

.right{
    display:flex;
    justify-content:center;
    align-items:center;
}

.btn-last-div{
    background-color: #3883f6;
    color:white;
    width: 200px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid white;
}

.footer{
    display:flex;
    justify-content:center;
    background-color: #1f2937;
    color:white;
    height: 20px
}